.common-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 199;
  height: 3rem;
  background-color: #272727;
  color:#fff;
  font-size: 14px;
}
.common-header > .d-flex {
  height: 3rem;
}
.logoBox .dropdown-toggle {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  height: 3rem;
  font-size: 1rem;
  color: #EEEEEE;
}
.logoBox .dropdown-toggle:focus{
  box-shadow:none !important;
}
.black-hover-it {
  transition: all 0.3s ease-in;
  padding: 0 1rem !important;
  border-right: 1px solid #1f1f1f !important;
  cursor: pointer;
}
.black-hover:hover {
  background-color: #000;
}
.logoBox .dropdown-toggle:after {
  display: none;
}
.logoBox .dropdown-toggle .navbar-logo {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-right: 0.45rem;
}
.logoBox .dropdown-toggle span {
  display: inline-flex;
  margin-right: 0.65rem;
  height: 100%;
  line-height: 2.95;
}
.black-hover-it:hover {
  background-color: #000;
}
.menu-trigger-box {
  height: 3rem;
  display: flex;
  align-items: center;
  border-left: 1px solid #1f1f1f;
}
.menu-trigger-box .sb-avatar {
  margin-right: 0.225rem;
}
.menu-dropdown{
  position: relative;
}
.menu-dropdown .dropdown-menu {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0;
  padding: 0.75rem 0 0;
  min-width: 18rem;
  top: 3.75rem !important;
  right: 1rem !important;
  transform: none !important;
  left: auto !important;
}
.menu-dropdown .dropdown-menu:before {
  content: '';
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid #fff;
  transform: translateY(-50%);
  right: 1rem;
}
.menu-dropdown .org-name {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding-bottom: 0.65rem;
  cursor: context-menu;
}
.user-icon {
  width: 31px;
  height: 31px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.profile-details-label {
  font-size: 14px;
  color: #000;
  display: block;
  line-height: 1;
}

span.profile-details-label-light {
  font-size: 10px;
  color: #4f4f4f;
  line-height: 1.5;
}

.profile-details {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #EEEEEE;
}

.profile-details-user-name {
  display: flex;
  flex-direction: column;
  cursor: context-menu;
}

.profile-listing {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #EEEEEE;
    cursor:pointer;
    transition: all 0.3s ease-in;
}
.profile-listing:hover,
.org-listing:hover{
    background-color:#e9ecef;
}
.profile-listing img {
    margin-right: 1.1rem;
}

.profile-listing .label {
    font-size: 14px;
}

.menu-dropdown .text-sm-bold {
    font-size: 10px;
    font-weight: 600;
    color: #4f4f4f;
    margin-bottom: 0.25rem;
}

.orgs-listing-container {
    border: 1px solid #EEEEEE;
}
.OrgsBlock {
    padding: 1rem 0.75rem;
}
.org-listing {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-weight: normal;
}
.orgs-listing-container .dropdown-item{
  border-bottom: 1px solid #EEEEEE;
  font-weight: normal;
}
.orgs-listing-container .dropdown-item:last-child{
  border-bottom: 0;
}
.ShowMore {
    font-size: 14px;
    font-weight: 600;
    color: #4f4f4f;
    margin-top: 0.5rem;
    cursor: pointer;
}

.switchProduct .dropdown-menu {
    box-shadow: 0 4px 32px rgb(0 0 0 / 15%);
    border: none;
    border-radius: 4px;
    padding: 0 .6rem;
    min-width: 13.688rem;
    transform: translate(0%,24%)!important;
    padding: 0.5rem;
}
.switchProduct a.dropHeader {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0!important;
    margin-bottom: 10px;
    padding: .7rem 1rem!important;
    font-weight: 600;
    font-size: 12px;
    pointer-events: none;
    cursor: context-menu;
}
.switchProduct .dropdown-item {
    padding: .5rem 1rem;
    font-size: 14px;
    color: #000;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
}
.switchProduct .dropdown-item:hover,
.switchProduct .dropdown-item:focus,
.switchProduct .dropdown-item:active{
  border-radius: 0.25rem;
  background-color: #e9ecef !important;
}
.go-to-link {
  font-size: 12px !important;
  font-weight: 600 !important;
  margin: 0.5rem 0;
  line-height: 1.3;
}
.go-to-link img{
  filter: invert(1);
  transform: rotate(270deg);
  margin-right: 0.5rem;
}
.logoBox{
  width: 345px;
}
.menu-trigger-box img, .logoBox .dropdown-toggle > img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}
.show .menu-trigger-box img, .logoBox .show .dropdown-toggle > img {
    transform: rotate(0deg);
}

.common-header .link-new {
  line-height: 1;
  height: 3rem;
  max-width: 11rem;
  color: #fff;
}

.link-new img {
  margin-right: 0.5rem;
}

.common-header .link-new span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.common-header .header-mid-portion {
  flex-grow: 1;
  justify-content: flex-end;
}

.search-profile input {
  height: 2.25rem;
  font-size: 12px;
}
.org-listing:last-child {
  border-bottom: 0;
}
.logoBox {
  min-width: 18rem;
}
.mid-navs {
  flex: 1;
  justify-content: center;
}

.profile-listing-container a.dropdown-item {
  padding: 0;
  background-color: inherit !important;
}
.orgs-listing-container .dropdown-item {
  padding: 0;
}